#map {
  height: 800px;
  width:100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#listing {
  position: absolute;
  width: 200px;
  height: 800px;
  overflow: auto;
  left: -190px;
  top: 0px;
  cursor: pointer;
  overflow-x: hidden;
}
#locationField {
  position: absolute;
  width: 390px;
  height: 25px;
  left: 155px;
  top: 10px;
  z-index: 5;
  background-color: #fff;
}
#controls {
  position: absolute;
  left: 300px;
  width: 140px;
  top: 0px;
  z-index: 5;
  background-color: #fff;
}
#autocomplete {
  width: 100%;
}
.placeIcon {
  width: 64px;
  height: 64px;
  margin: 4px;
}
.restaurantIcon {
  width: 150px;
  height: 150px;
}
#rating {
  font-size: 13px;
  font-family: Arial Unicode MS;
}

#floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}
#right-panel {
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}

#right-panel select, #right-panel input {
  font-size: 15px;
}

#right-panel select {
  width: 100%;
}

#right-panel i {
  font-size: 12px;
}
#right-panel {
  height: 800px;
  width: 250px;
  overflow: auto;
}
#floating-panel {
  background: #fff;
  padding: 5px;
  font-size: 14px;
  font-family: Arial;
  border: 1px solid #ccc;
  box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
  display: none;
}

@media print {
  #map {
    height: 800px;
    width:100%;
    margin: 0;
  }
  #right-panel {
    float: none;
    
  }
}

#legend {
  font-family: Arial, sans-serif;
  background: #fff;
  padding: 10px;
  margin: 10px;
  border: 3px solid #000;
  display: none;
}
#legend h3 {
  margin-top: 0;
}
#legend img {
  vertical-align: middle;
}